*~
*.pyc
*.swp
*#
.metadata
.DS_Store
*.log
__pycache__
*.old
*.cfg
.idea/enjeebox.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea

venv/
assets/*
!assets/.gitkeep
private.txt
__init__.py
test.py